/* To make everything uniform and fit on page */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic Styles */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

body,
input,
select,
textarea {
  color: #4d5859;
  font-family: "Lato", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: solid 1px #e4e4e4;
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #59554d !important;
}

strong,
b {
  color: #737373;
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2.25em 0;
}

h1,
h2,
h3,
h4 {
  color: #737373;
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 0.5625em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border: 0;
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.75em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px #f4f4f4;
  margin: 2.25em 0;
}
/* headers in each section */
hr.major {
  margin: 3.375em 0;
}

/* Container */
.container {
  margin: 0 auto;
  max-width: calc(100% - 4.5em);
  width: 45em;
}

.container.xsmall {
  width: 11.25em;
}

.container.small {
  width: 22.5em;
}

.container.medium {
  width: 33.75em;
}

.container.large {
  width: 56.25em;
}

.container.xlarge {
  width: 67.5em;
}

.container.max {
  width: 100%;
}

/* what to do for different screen sizes */

@media screen and (max-width: 1024px) {
  .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(100% - 3.375em);
  }
}

/* Section/Article for text in each section below the header and above the buttons */

section.special,
article.special {
  text-align: center;
}

header p {
  color: #aaa;
  position: relative;
  margin: 0 0 1.6875em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -0.5em;
  line-height: 1.5em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.35em;
  line-height: 1.5em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.25em;
  line-height: 1.5em;
}

header.major h2 {
  color: #4d5859;
  font-size: 3.25em;
  font-weight: 510;
}

header.major h2 + p {
  color: #4d5859;
  font-size: 1.6em;
  font-weight: 500;
  margin-top: -0.75em;
}

/* Icons */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

/* Images */

.image {
  border-radius: 5px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image[data-position] img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image[data-position="top left"] img {
  -moz-object-position: top left;
  -webkit-object-position: top left;
  -ms-object-position: top left;
  object-position: top left;
}

.image[data-position="top"] img {
  -moz-object-position: top;
  -webkit-object-position: top;
  -ms-object-position: top;
  object-position: top;
}

.image[data-position="top right"] img {
  -moz-object-position: top right;
  -webkit-object-position: top right;
  -ms-object-position: top right;
  object-position: top right;
}

.image[data-position="right"] img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right;
}

.image[data-position="bottom right"] img {
  -moz-object-position: bottom right;
  -webkit-object-position: bottom right;
  -ms-object-position: bottom right;
  object-position: bottom right;
}

.image[data-position="bottom"] img {
  -moz-object-position: bottom;
  -webkit-object-position: bottom;
  -ms-object-position: bottom;
  object-position: bottom;
}

.image[data-position="bottom left"] img {
  -moz-object-position: bottom left;
  -webkit-object-position: bottom left;
  -ms-object-position: bottom left;
  object-position: bottom left;
}

.image[data-position="left"] img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left;
}

.image[data-position="center"] img {
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
}

.image img {
  border-radius: 5px;
  display: block;
}

.image.left {
  float: left;
  margin: 0 2.5em 2em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  margin: 0 0 2em 2.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2.25em 0;
  width: 100%;
}

.image.fit img {
  display: block;
  width: 100%;
}

.image.avatar {
  border-radius: 100%;
  overflow: hidden;
}

.image.avatar img {
  border-radius: 100%;
  display: block;
  width: 100%;
}

.image.main {
  display: block;
  height: 10em;
  border-radius: 0;
}

.image.main img {
  border-radius: 0;
}
/* List */
ol {
  list-style: decimal;
  margin: 0 0 2.25em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2.25em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 2px #f4f4f4;
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

dl {
  margin: 0 0 2.25em 0;
}
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: none;
  border: solid 2px #e4e4e4;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
textarea:invalid {
  box-shadow: none;
}
textarea:focus {
  border-color: #b2aea7;
}
textarea {
  padding: 0.75em 1em;
}

/* Actions aka buttons */

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1.125em;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1.125em;
  vertical-align: middle;
}

ul.actions.special {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 100%;
  margin-left: 0;
}

ul.actions.special li:first-child {
  padding-left: 0;
}

ul.actions.stacked {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 0;
}

ul.actions.stacked li {
  padding: 1.125em 0 0 0;
}

ul.actions.stacked li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  width: calc(100% + 1.125em);
}

ul.actions.fit li {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

ul.actions.fit li > * {
  width: 100%;
}

ul.actions.fit.stacked {
  width: 100%;
}

@media screen and (max-width: 480px) {
  ul.actions:not(.fixed) {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
    width: 100% !important;
  }

  ul.actions:not(.fixed) li {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    padding: 1.125em 0 0 0;
    text-align: center;
    width: 100%;
  }

  ul.actions:not(.fixed) li > * {
    width: 100%;
  }

  ul.actions:not(.fixed) li:first-child {
    padding-top: 0;
  }

  ul.actions:not(.fixed) li input[type="submit"],
  ul.actions:not(.fixed) li input[type="reset"],
  ul.actions:not(.fixed) li input[type="button"],
  ul.actions:not(.fixed) li button,
  ul.actions:not(.fixed) li .button {
    width: 100%;
  }

  ul.actions:not(.fixed) li input[type="submit"].icon:before,
  ul.actions:not(.fixed) li input[type="reset"].icon:before,
  ul.actions:not(.fixed) li input[type="button"].icon:before,
  ul.actions:not(.fixed) li button.icon:before,
  ul.actions:not(.fixed) li .button.icon:before {
    margin-left: -0.5rem;
  }
}

/* Feature Icons */

ul.feature-icons {
  list-style: none;
  padding-left: 0;
}

ul.feature-icons li {
  text-decoration: none;
  display: inline-block;
  margin: 0 0 1.6875em 0;
  padding: 0.35em 0 0 3.5em;
  position: relative;
  vertical-align: top;
  width: 48%;
}

ul.feature-icons li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

ul.feature-icons li:before {
  background: #59554d;
  border-radius: 100%;
  color: #ffffff;
  display: block;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-left: 0 !important;
}

ul.icons li .icon:before {
  font-size: 1.25em;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #504d59;
  border-radius: 5px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
  background-color: #595664;
  color: #ffffff !important;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
  margin-left: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
  width: 100%;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
.button.large {
  font-size: 1.35em;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
.button.primary {
  background-color: #59554d;
  color: #ffffff !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
.button.primary:hover {
  background-color: #645f56;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
.button.primary:active {
  background-color: #99a89d;
}

/* Header */

#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: #59554d;
  color: #e3e7e4;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 23em;
  right: 0;
}

#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
  color: #ffffff;
}

#header h1 a,
#header h2 a,
#header h3 a,
#header h4 a,
#header h5 a,
#header h6 a {
  color: #ffffff;
}

#header header p {
  color: #98948c;
}

#header a {
  color: #d8deda;
}

#header a:hover {
  color: #ffffff !important;
}

#header > header {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 3em;
}

#header > header .avatar {
  display: block;
  margin: 0 auto 2.25em auto;
  width: 8em;
}

#header > header h1 {
  font-size: 1.75em;
  margin: 0;
}

#header > header p {
  color: #d8deda;
  font-style: italic;
  margin: 1em 0 0 0;
}

#header > footer {
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  width: 100%;
}

#header > footer .icons {
  margin: 0;
}

#header > footer .icons li a {
  color: #b7eadc;
}

#header > nav {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}

#header > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header > nav ul li {
  border-top: solid 2px #b2aea7;
  display: block;
  padding: 0;
}

#header > nav ul li a {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
  border: 0;
  color: #ffffff !important;
  display: block;
  padding: 0.85em 0;
  text-decoration: none;
}

#header > nav ul li a.active {
  background: #fff;
  color: #98948c !important;
}

#header > nav ul li:first-child {
  border-top: 0;
}

/*  */

#wrapper {
  background: #fff;
  padding-right: 23em;
}

/* Main */

#main > section {
  border-top: solid 6px #f4f4f4;
}

#main > section > .container {
  padding: 6em 0 4em 0;
}

#main > section:first-child {
  border-top: 0;
}

/* Footer: very bottom of the app... no neeed to edit this */

#footer {
  background: #fafafa;
  border-top: 0;
  color: #c0c0c0;
  overflow: hidden;
  padding: 1em 0 2em 0;
}

#footer .copyright {
  line-height: 1em;
  list-style: none;
  padding: 0;
}

#footer .copyright li {
  border-left: solid 1px #d4d4d4;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 1em;
  padding-left: 1em;
}

#footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#footer .copyright li a {
  color: inherit;
}

/* Views optimized for different screen sizes and devices */
/* XLarge */

@media screen and (max-width: 1680px) {
  /* Basic */

  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }

  /* Header */

  #header {
    width: 21em;
  }

  #header > header {
    padding: 2em;
  }

  #header > footer {
    padding: 1.5em;
  }

  /* Wrapper */

  #wrapper {
    padding-right: 21em;
  }

  /* Main */

  #main > section > .container {
    padding: 4em 0 2em 0;
  }
}

/* Large */

@media screen and (max-width: 1280px) {
  /* Basic */

  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }

  /* Header */

  #header {
    width: 20em;
  }

  /* Wrapper */

  #wrapper {
    padding-right: 20em;
  }
}

/* Medium */

#titleBar {
  display: none;
}

@media screen and (max-width: 1024px) {
  /* Basic */

  html,
  body {
    overflow-x: hidden;
  }

  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }

  /* Image */

  .image.left,
  .image.right {
    max-width: 40%;
  }

  .image.left img,
  .image.right img {
    width: 100%;
  }

  .image.main {
    height: 20em;
  }

  /* Header */
  #header {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 23em;
    z-index: 10002;
    -moz-transform: translateX(23em);
    -webkit-transform: translateX(23em);
    -ms-transform: translateX(23em);
    transform: translateX(23em);
    right: 0;
  }

  #header > footer {
    bottom: auto;
    left: auto;
    margin: 0.5em 0 0 0;
    position: relative;
    left: auto;
    top: auto;
  }

  /* Wrapper */

  #wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding: 44px 0 1px 0;
  }

  /* Header Panel */

  #titleBar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    background: #222;
    color: #fff;
    min-width: 320px;
  }

  #titleBar .title {
    color: #fff;
    display: block;
    font-weight: 700;
    height: 44px;
    line-height: 44px;
    padding: 0 1em;
    width: 100%;
    text-align: left;
  }

  #titleBar .title a {
    border: 0;
    text-decoration: none;
  }

  #titleBar .toggle {
    text-decoration: none;
    height: 4em;
    position: absolute;
    top: 0;
    width: 6em;
    border: 0;
    outline: 0;
    right: 0;
  }

  #titleBar .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  #titleBar .toggle:before {
    background: #7d766a;
    color: #ffffff;
    content: "\f0c9";
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 64px;
    right: 0;
  }

  body.header-visible #wrapper,
  body.header-visible #titleBar {
    -moz-transform: translateX(-23em);
    -webkit-transform: translateX(-23em);
    -ms-transform: translateX(-23em);
    transform: translateX(-23em);
  }

  body.header-visible #header {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Small */

@media screen and (max-width: 736px) {
  /* Basic */

  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }

  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  /* Image */

  .image.left {
    margin: 0 1.5em 1em 0;
  }

  .image.right {
    margin: 0 0 1em 1.5em;
  }

  .image.main {
    height: 12em;
  }
  /* Header */

  #header {
    width: 17em;
    -moz-transform: translateX(17em);
    -webkit-transform: translateX(17em);
    -ms-transform: translateX(17em);
    transform: translateX(17em);
    right: 0;
  }

  #header > header {
    padding: 2em;
  }

  #header > header .avatar {
    margin: 0 auto 1.6875em auto;
    width: 6em;
  }

  #header > header h1 {
    font-size: 1.5em;
  }

  #header > header p {
    margin: 1em 0 0 0;
  }

  #header > footer {
    padding: 1.5em;
  }

  /* Main */

  #main > section > .container {
    padding: 2em 0 0 0;
  }

  /* Footer */

  #footer {
    text-align: center;
  }

  #footer .copyright li {
    border-left: 0;
    display: block;
    line-height: 1.75em;
    margin: 0.75em 0 0 0;
    padding-left: 0;
  }

  #footer .copyright li:first-child {
    margin-top: 0;
  }

  /* Header Panel */

  #titleBar .toggle {
    height: 4em;
    width: 6em;
  }

  #titleBar .toggle:before {
    font-size: 14px;
    width: 44px;
  }

  body.header-visible #wrapper,
  body.header-visible #titleBar {
    -moz-transform: translateX(-17em);
    -webkit-transform: translateX(-17em);
    -ms-transform: translateX(-17em);
    transform: translateX(-17em);
  }
}

/* XSmall */

@media screen and (max-width: 480px) {
  /* Basic */

  html,
  body {
    min-width: 320px;
  }

  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }

  /* List */

  ul.actions {
    margin: 0 0 2.25em 0;
  }

  ul.actions li {
    display: block;
    padding: 1.125em 0 0 0;
    text-align: center;
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
  }

  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }

  ul.actions li > *.icon:before {
    margin-left: -2em;
  }

  ul.actions.small li {
    padding: 0.5625em 0 0 0;
  }

  ul.actions.small li:first-child {
    padding-top: 0;
  }

  ul.feature-icons li {
    display: block;
    width: 100%;
  }

  /* Button */

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    padding: 0;
  }
}

.word {
  margin: 0 2px;
}

.drop-zone {
  position: relative;
  width: 100px;
  height: 30px;
  overflow: hidden;
  background: #878787;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
